<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <!--index-->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--data sources-->
    <resource-ref>
        <description>Resource reference to a database "pizza" in PostgreSQL</description>
        <res-ref-name>jdbc/pizza</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.mkurnikov.pizza.web.filters.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UnauthorizedUserFilter</filter-name>
        <filter-class>com.mkurnikov.pizza.web.filters.UnauthorizedUserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UnauthorizedUserFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--image servlet-->
    <servlet>
        <servlet-name>GraphImageServlet</servlet-name>
        <servlet-class>com.mkurnikov.pizza.web.servlets.GraphImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GraphImageServlet</servlet-name>
        <url-pattern>/img/map</url-pattern>
    </servlet-mapping>

    <!--Shortest Path Servlet-->
    <servlet>
        <servlet-name>ShortestPathServlet</servlet-name>
        <servlet-class>com.mkurnikov.pizza.web.servlets.ShortestPathServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShortestPathServlet</servlet-name>
        <url-pattern>/shortest</url-pattern>
    </servlet-mapping>

    <!--login servlet-->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.mkurnikov.pizza.web.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!--register servlet-->
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.mkurnikov.pizza.web.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <!--home servlet-->
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.mkurnikov.pizza.web.servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <!--admin servlet-->
    <servlet>
        <servlet-name>PathServlet</servlet-name>
        <servlet-class>com.mkurnikov.pizza.web.servlets.PathServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PathServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PathServlet</servlet-name>
        <url-pattern>/path/*</url-pattern>
    </servlet-mapping>

    <!--orders manipulations-->
    <servlet>
        <servlet-name>OrdersServlet</servlet-name>
        <servlet-class>com.mkurnikov.pizza.web.servlets.OrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrdersServlet</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersServlet</servlet-name>
        <url-pattern>/orders/*</url-pattern>
    </servlet-mapping>
</web-app>




































